@charset "UTF-8";

body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(5, 44, 31);
    color: white;
}

h2{
    color: rgb(33, 51, 32);
}

.basico{
    color: rgb(66, 122, 63);
}

.intermediario{
    color: rgb(124, 124, 62);
}

.avancado{
    color: rgb(126, 61, 61);
}

.destaque{
    background-color: rgb(6, 120, 158);
}